<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>ELsoud Bell</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/minifiedstyle/ltrstyle.min.css" id="ink">
    <!--<link rel="stylesheet" href="../css/minifiedstyle/rtlstyle.min.css" id="ink">-->
  </head>
  <body dir="ltr">
    <!------------------------------------slider------------------------------------->
    
    <header class="main-header">
      <!--Navbar-->
      <div class="header-section wow">
        <nav class="navbar">
          <div class="container-fluid">
           
            <div class="row">

            <div class="brand-title col-lg-2 col-md-3 col-6">
                <a class="navbar-brand header__logo"  href="../index.html">
                    <img src="../images/LOGO.png" class="w-100">
                </a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links col-lg-10 col-md-9 col-6">
                <button class="close btn"><i class="fas fa-times"></i></button>
                <div class="brand-title-toggle col-12">
                    <a class=" header__logo"  href="../index.html">
                        <img src="../images/blue-logo (1).png" class="w-100">
                    </a>
                </div>
                <ul class="buttons_ul">
                      <li>
                          <a class="btn" href="../images/en.pdf">DOWNLOAD PROFILE</a>
                      </li>
                      <li>
                          <a class="btn" href="careers.html">CAREERS</a>
                      </li>
                      <li>
                          <a class="btn" href="#">CONTACT US</a>
                      </li>
                      <li>
                          <a class="btn btn--ar" href="#">AR</a>
                      </li>
                      <li>
                          <a class="btn btn--en" href="#">EN</a>
                      </li>
                </ul>
                <!---------------------------------------------------->
                <ul class="links_ul">
                  <li>
                    <a href="about.html">ABOUT US</a>
                    <ul class="about-dropdown">
                      <li><a href="about.html#who-we-are">WHO WE ARE</a></li>
                      <li><a href="about.html#WHYSAUDIBELL">WHY SAUDI BELL?</a></li>
                      <li><a href="about.html#founders">FOUNDERS' MESSAGE</a></li>
                      <li><a href="about.html#success-story">SUCCESS STORIES</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">SERVICES & SOLUTIONS</a>
                    <ul class="service-dropdown">
                      <li><a href="informationtecnology.html">INFORMATION TECHNOLOGY</a></li>
                      <li><a href="telecomunication.html">TELECOMMUNICATIONS</a></li>
                      <li><a href="physicaltecnology.html">PHYSICAL SECURITY</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="marketsandclients.html"> MARKETS & CLIENTS</a>
                    <ul class="market-dropdown">
                      <li><a href="marketsandclients.html#milirtyanddefence">MILITARY & DEFENCE</a></li>
                      <li><a href="marketsandclients.html#government">GOVERNMENT</a></li>
                      <li><a href="marketsandclients.html#utilities">UTILITIES</a></li>
                      <li><a href="marketsandclients.html#telecommunication">TELECOMMUNICATIONS</a></li>
                      <li><a href="marketsandclients.html#banking">BANKING</a></li>
                      <li><a href="marketsandclients.html#healthcare">HEALTHCARE</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="ourparteners.html">OUR PARTERS</a>
                  </li>
                  <li>
                      <a href="mediacenter.html">MEDIA CENTER</a>
                  </li>
                </ul>
            </div>
        </div>
      </div>
    </nav>
   </div>
    <!---------------------------------------------end of nav------------------------->
    <diV class="slider slide_careers">
      <div class="owl-carousel owl-theme owl-slider">
        <div class="item">
          <div class="slider__content" style="background-image: url(../images/contact-us.jpg);">
            <div class="container">
              <div class=" col-12">
                <h1> </h1>
              </div>
            </div>
          </div>
        </div>
    </div>
  </diV>
  <!---------------------------------------------end of slider-------------------------->
  </header>
    <!----------------------------------end of slider------------------------------->
    
    <!---------------------------------------SOLUTIONS------------------------------>
    <div class="solution careers__solution">
        <div class="container  w-50 m-auto">
            <div class="row">
                <div class="solution__secure  physical__protecting">
                    <p>If you have any inquiries or would like more information about our services, 
                        please fill out the below form and we will contact you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------careers-form------------------------------->
    <section class="contact">
      <!--Container-->
      <div class="container">
      </div>
          <div class="contact-us">
          <div class="container">
              <!--contact-map-->
          <div class="contact-map">
              <!--Row-->
              <div class="row">
                  <div class="col-md-4 my-2">
                      <div class="contact-map__content">
                          <img src="../images/googlemap.jpeg" alt="google-img">
                          <div class="contact-map__info">
                              <h4>RIYADH OFFICE</h4>
                              <p>Office 4049, Olaya View, <br/>King Fahad Road</p>
                              <p>(+966) 11 460 6000</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 my-2">
                      <div class="contact-map__content">
                          <img src="../images/googlemap.jpeg" alt="google-img">
                          <div class="contact-map__info">
                              <h4>RIYADH OFFICE</h4>
                              <p>Building No. 2, Street 22A, Al Manar,<br/>King Fahad Road (airport road)
                              </p>
                              <p>(+966) 13 818 1302</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 my-2">
                      <div class="contact-map__content">
                          <img src="../images/googlemap.jpeg" alt="google-img">
                          <div class="contact-map__info">
                              <h4>RIYADH OFFICE</h4>
                              <p>Suite # 315, Al Rajhi ComplexPrince,<br/>Majed Street</p>
                              <p>(+966) 12 670 4888</p>
                          </div>
                      </div>
                  </div>
              </div><!--End of Row-->
          </div><!--End of Contact-map-->
          <!--Contact-fields-->
          <div class="contact-fields mb-4">
              <div class="contact-fieldes__mail">
                  <i class="fas fa-envelope-open-text"></i>
                  <a href="info@saudibell.com">info@saudibell.com</a>
              </div>
          </div><!--End Contact-fields-->
          <!--Form-fields-->
        <form method="" action="" id="contact-myform">
          <div class="row">
              <div class="col-sm-3 my-1">
                  <label for="uName" class="col-form-label">Name</label>
              </div>
              <div class="col-sm-9 my-1">
                  <input type="text" class="form-control" id="uName" name="uName">
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3 my-1">
                  <label for="fmName" class="col-form-label">Family name</label>
              </div>
              <div class="col-sm-9 my-1">
                  <input type="text" class="form-control" id="fmName" name="fmName">
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3 my-1">
                  <label for="uEmail" class="col-form-label">E-mail Address</label>
              </div>
              <div class="col-sm-9 my-1">
                  <input type="email" class="form-control" id="uEmail" name="uEmail">
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3 my-1">
                  <label for="serSolution" class="col-form-label">services & solutions</label>
              </div>
              <div class="col-sm-9 my-1">
                  <div class="input-dropdown">
                      <select class="form-select form-control" name="serSolution" id="serSolution">
                          <option></option>
                          <option>Information Technology </option>
                          <option>Telecommunications</option>
                          <option>Physical Security</option>
                        </select>
                        <i class="fas fa-sort-down"></i>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3 my-1">
                  <label for="message" class="col-md-3 col-form-label">message</label>
              </div>
              <div class="col-sm-9 my-1">
                  <textarea name="message" id="message" class="form-control" rows="8"></textarea>
              </div>
          </div>
              <div class="mesText my-3"><button type="submit" class="btn">submit</button></div>
          </form><!--End Form-->
         
          </div><!--End of container-->
      </div>
  </section>
    <!-------------------------------------end of careers-------------------------->
    
    <!----------------------------------------end of SOLUTIONS----------------------->
    <!-------------------------------------------footer------------------------------------>
    <footer>
        <div class="footer__upper">
          <div class="container">
            <div class="row">
              <div class="col-md-5  col-12">
                <div class="footer__logo col-8 offset-2">
                  <a href="#">
                    <img src="../images/LOGO.png" class="w-100">
                  </a>
                </div>
                <div class="row">
                  <div class="footer__iso--img">
                    <div><img src="../images/trace.png" alt=""></div>
                    <div><img src="../images/45001.png" alt=""></div>
                    <div><img src="../images/iso-footer.png" alt=""></div>
                    <div><img src="../images/iso-footer-2.png" alt=""></div>
                    <div><img src="../images/27001.png" alt=""></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <h5>USEFUL LINKS</h5>
                    <ul>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">ABOUT US</a></li>
                      <li><a href="#">OUR PARTNERS</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <h5>SERVICES & SOLUTIONS</h5>
                    <ul>
                      <li><a href="informationtecnology.html">INFORMATION</a></li>
                      <li><a href="#"> TECHNOLOGY</a></li>
                      <li><a href="#">TELECOMUNICATIONS</a></li>
                      <li><a href="#">PHYSICAL SECURITY</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-12">
                <div class="w-100 footer__img--royaa">
                  <img src="../images/royaa-3.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__lower">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="copyright__icon-twitter"><a href="#"><i class="fab fa-twitter"></i></a></div>
                <div class="copyright__icon-linked"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
              </div>
              <div class="col-lg-6 col-12">
                <span>POWERED BY<a href="#"> 8BALL CONSULTING GROUP</a>© 2021</span>
              </div>
            </div>
          </div>
        </div>
    </footer>
    <!-------------------------------------end of footer----------------------------------->
    <script src="../scripts/MinifiedJs/scripts.min.js"></script>
    <script src="../scripts/app/about.js"></script>
  </body>
</html>
