<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>ELsoud Bell</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/minifiedstyle/ltrstyle.min.css" id="ink">
    <!--<link rel="stylesheet" href="../css/minifiedstyle/rtlstyle.min.css" id="ink">-->
  </head>
  <body dir="ltr">
    <!------------------------------------slider------------------------------------->
    
    <header class="main-header">
      <!--Navbar-->
      <div class="header-section wow">
        <nav class="navbar">
          <div class="container-fluid">
           
            <div class="row">

            <div class="brand-title col-lg-2 col-md-3 col-6">
                <a class="navbar-brand header__logo"  href="../index.html">
                    <img src="../images/LOGO.png" class="w-100">
                </a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links col-lg-10 col-md-9 col-6">
                <button class="close btn"><i class="fas fa-times"></i></button>
                <div class="brand-title-toggle col-12">
                    <a class=" header__logo"  href="../index.html">
                        <img src="../images/blue-logo (1).png" class="w-100">
                    </a>
                </div>
                <ul class="buttons_ul">
                      <li>
                          <a class="btn" href="../images/en.pdf">DOWNLOAD PROFILE</a>
                      </li>
                      <li>
                          <a class="btn" href="careers.html">CAREERS</a>
                      </li>
                      <li>
                          <a class="btn" href="contactus.html">CONTACT US</a>
                      </li>
                      <li>
                          <a class="btn btn--ar" href="#">AR</a>
                      </li>
                      <li>
                          <a class="btn btn--en" href="#">EN</a>
                      </li>
                </ul>
                <!---------------------------------------------------->
                <ul class="links_ul">
                  <li>
                    <a href="about.html">ABOUT US</a>
                    <ul class="about-dropdown">
                      <li><a href="about.html#who-we-are">WHO WE ARE</a></li>
                      <li><a href="about.html#WHYSAUDIBELL">WHY SAUDI BELL?</a></li>
                      <li><a href="about.html#founders">FOUNDERS' MESSAGE</a></li>
                      <li><a href="about.html#success-story">SUCCESS STORIES</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">SERVICES & SOLUTIONS</a>
                    <ul class="service-dropdown">
                      <li><a href="informationtecnology.html">INFORMATION TECHNOLOGY</a></li>
                      <li><a href="telecomunication.html">TELECOMMUNICATIONS</a></li>
                      <li><a href="physicaltecnology.html">PHYSICAL SECURITY</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="marketsandclients.html"> MARKETS & CLIENTS</a>
                    <ul class="market-dropdown">
                      <li><a href="marketsandclients.html#milirtyanddefence">MILITARY & DEFENCE</a></li>
                      <li><a href="marketsandclients.html#government">GOVERNMENT</a></li>
                      <li><a href="marketsandclients.html#utilities">UTILITIES</a></li>
                      <li><a href="marketsandclients.html#telecommunication">TELECOMMUNICATIONS</a></li>
                      <li><a href="marketsandclients.html#banking">BANKING</a></li>
                      <li><a href="marketsandclients.html#healthcare">HEALTHCARE</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="ourparteners.html">OUR PARTERS</a>
                  </li>
                  <li>
                      <a href="mediacenter.html">MEDIA CENTER</a>
                  </li>
                </ul>
            </div>
        </div>
      </div>
    </nav>
   </div>
    <!---------------------------------------------end of nav------------------------->
    <diV class="slider">
      <div class="owl-carousel owl-theme owl-slider">
        <div class="item">
          <div class="slider__content" style="background-image: url(../images/services.jpg);">
            <div class="container">
              <div class="col-lg-4 col-md-6 col-12">
                <h1> </h1>
              </div>
            </div>
          </div>
        </div>
    </div>
  </diV>
  <!---------------------------------------------end of slider-------------------------->
  </header>
    <!----------------------------------end of slider------------------------------->
      <!--militry section-->
      <section class="militry" id="milirtyanddefence">
        <!--Container-->
        <div class="container">
          <h2 class="market-header">MILITARY & DEFENSE</h2>
          <!--Row 1-->
          <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4  col-5 my-1">
                <div class="militry-item">
                  <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/1.png')"></div>
                    <h4> Royal Saudi Air Defense </h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4  col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/2.png')"></div>
                  <h4> MINISTRY OF DEFENSE</h4>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/3.png')"></div>
                  <h4>THE ROYAL SAUDI STRATEGIC MISSILE FORCE </h4>
              </div>
            </div>
            <div class="col-lg-2 col-md-4  col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/4.png')"></div>
                  <h4>ROYAL SAUDI NAVY FORCES</h4>
              </div>
            </div>
            <div class="col-lg-2 col-md-4  col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/5.png')"></div>
                  <h4>FACILITIES SECURITY FORCES</h4>
              </div>
            </div>
          </div><!--End of Row--> 
          <!--End Row 1-->
          <!--Row 2-->
          <div class="row justify-content-center my-1">
            <div class="col-md-3 col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/6.png')"></div>
                <h4>MINISTRY OF INTERIOR</h4>
              </div>
            </div>
            <div class="col-md-3 col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/7.png')"></div>
                <h4>BORDER GUARD</h4>
              </div>
            </div>
            <div class="col-md-3 col-5 my-1">
              <div class="militry-item">
                <div class="militry-item__img" style="background-image:url('../images/images/client/military-and-defence/8.png')"></div>
                <h4>XXXXX</h4>
              </div>
            </div>
          </div><!--End of Row 2--> 
        </div><!--End of Container-->
    </section><!--End of militry section-->
    <!--government section-->
    <section class="government main-bg py-5" id="government">
      <!--Container-->
      <div class="container">
        <h2 class="market-header text-center">GOVERNMENT</h2>
        <!--Row 1--> 
        <div class="row justify-content-center">
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/1.png')"></div>
              <h4>KING FAHD INTERNATIONAL AIRPORT</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/2.png')"></div>
              <h4>MAWANI SAUDI PORTS AUTHORITY</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/3.png')"></div>
              <h4>GACA</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/4.png')"></div>
              <h4>MINISTRY OF MUNICIPAL & RURAL AFFAIRS</h4>
            </div>
          </div>
        </div><!--End of Row 1--> 
        <!--Row 2--> 
        <div class="row justify-content-center">
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/5.png')"></div>
              <h4>RIYADH DEVELOPMENT AUTHORITY</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/6.png')"></div>
              <h4>KING KHALED INTERNATIONAL AIRPORT</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/7.png')"></div>
              <h4>RIYADH METRO</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/8.png')"></div>
              <h4>RIYADH MUNICIPALITY</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/9.png')"></div>
              <h4>SAUDI CUSTOM</h4>
            </div>
          </div>
        </div><!--End of Row 2--> 
      </div><!--End of Container-->
    </section><!--End of government section-->
    <!--utilities section-->
    <section class="utilities py-5" id="utilities">
      <!--Container-->
      <div class="container">
        <h2 class="market-header text-center">Utilities</h2>
        <!--Rows--> 
        <div class="row justify-content-center">
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/1.png')"></div>
              <h4>SAUDI ELECTRICITY COMPANY</h4>
            </div>
          </div>
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/2.png')"></div>
              <h4>SALINE WATER CONVERSION CORPORATION</h4>
            </div>
          </div>
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/3.png')"></div>
              <h4>SAMREF</h4>
            </div>
          </div>
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/4.png')"></div>
              <h4>MARAFIQ</h4>
            </div>
          </div>
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/5.png')"></div>
              <h4>SABIC</h4>
            </div>
          </div>
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/6.png')"></div>
              <h4>SAUDI ARAMCO</h4>
            </div>
          </div>
          <div class="col-lg-3 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/ultilities/7.png')"></div>
              <h4>SABICTANK</h4>
            </div>
          </div>
        </div><!--End of Row--> 
      </div><!--End of Container-->
    </section><!--End of utilites section-->
    <!--Telecommunication section-->
    <section class="telecom main-bg py-5" id="telecommunication">
      <!--Container-->
      <div class="container">
        <h2 class="market-header text-center">telecommunication</h2>
        <!--Row 1--> 
        <div class="row justify-content-center">
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/1.png')"></div>
              <h4>SAUDI TELECOM COMPANY (STC)</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/2.png')"></div>
              <h4>MOBILY</h4>
            </div>
          </div>
        </div><!--End of Row 2--> 
      </div><!--End of Container-->
    </section><!--End of telecom section-->
    <!--Banking section-->
    <section class="banking py-5" id="banking">
      <!--Container-->
      <div class="container">
        <h2 class="market-header text-center">banking</h2>
        <!--Row--> 
        <div class="row justify-content-center">
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/1.png')"></div>
              <h4>ALAWWAL BANK</h4>
            </div>
          </div>
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/2.png')"></div>
              <h4>THE SAUDI INVESTMENT BANK</h4>
            </div>
          </div>
        </div><!--End of Row--> 
      </div><!--End of Container-->
    </section><!--End of telecom section-->
    <!--healthcare section-->
    <section class="healthcare main-bg py-5" id="healthcare">
      <!--Container-->
      <div class="container">
        <h2 class="market-header text-center">healthcare</h2>
        <!--Row--> 
        <div class="row justify-content-center">
          <div class="col-lg-2 col-5 my-1">
            <div class="militry-item">
              <div class="militry-item__img" style="background-image:url('../images/images/client/government/1.png')"></div>
              <h4>KING FAISAL SPECIALIST HOSPITAL & RESEARCH CENTRE</h4>
            </div>
          </div>
        </div><!--End of Row--> 
      </div><!--End of Container-->
    </section><!--End of healthcare section-->
    
    <!-------------------------------------------footer------------------------------------>
    <footer>
        <div class="footer__upper">
          <div class="container">
            <div class="row">
              <div class="col-md-5  col-12">
                <div class="footer__logo col-8 offset-2">
                  <a href="#">
                    <img src="../images/LOGO.png" class="w-100">
                  </a>
                </div>
                <div class="row">
                  <div class="footer__iso--img">
                    <div><img src="../images/trace.png" alt=""></div>
                    <div><img src="../images/45001.png" alt=""></div>
                    <div><img src="../images/iso-footer.png" alt=""></div>
                    <div><img src="../images/iso-footer-2.png" alt=""></div>
                    <div><img src="../images/27001.png" alt=""></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <h5>USEFUL LINKS</h5>
                    <ul>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">ABOUT US</a></li>
                      <li><a href="#">OUR PARTNERS</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <h5>SERVICES & SOLUTIONS</h5>
                    <ul>
                      <li><a href="informationtecnology.html">INFORMATION</a></li>
                      <li><a href="telecomunication.html"> TECHNOLOGY</a></li>
                      <li><a href="#">TELECOMUNICATIONS</a></li>
                      <li><a href="#">PHYSICAL SECURITY</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-12">
                <div class="w-100 footer__img--royaa">
                  <img src="../images/royaa-3.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__lower">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="copyright__icon-twitter"><a href="#"><i class="fab fa-twitter"></i></a></div>
                <div class="copyright__icon-linked"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
              </div>
              <div class="col-lg-6 col-12">
                <span>POWERED BY<a href="#"> 8BALL CONSULTING GROUP</a>© 2021</span>
              </div>
            </div>
          </div>
        </div>
    </footer>
    <!-------------------------------------end of footer----------------------------------->
    <script src="../scripts/MinifiedJs/scripts.min.js"></script>
    <script src="../scripts/app/about.js"></script>
  </body>
</html>
