<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>ELsoud Bell</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/minifiedstyle/ltrstyle.min.css" id="ink">
    <!--<link rel="stylesheet" href="../css/minifiedstyle/rtlstyle.min.css" id="ink">-->
  </head>
  <body dir="ltr">
    <!------------------------------------slider------------------------------------->
    
    <header class="main-header">
      <!--Navbar-->
      <div class="header-section wow">
        <nav class="navbar">
          <div class="container-fluid">
           
            <div class="row">

            <div class="brand-title col-lg-2 col-md-3 col-6">
                <a class="navbar-brand header__logo"  href="../index.html">
                    <img src="../images/LOGO.png" class="w-100">
                </a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links col-lg-10 col-md-9 col-6">
                <button class="close btn"><i class="fas fa-times"></i></button>
                <div class="brand-title-toggle col-12">
                    <a class=" header__logo"  href="../index.html">
                        <img src="../images/blue-logo (1).png" class="w-100">
                    </a>
                </div>
                <ul class="buttons_ul">
                      <li>
                          <a class="btn" href="../images/en.pdf">DOWNLOAD PROFILE</a>
                      </li>
                      <li>
                          <a class="btn" href="careers.html">CAREERS</a>
                      </li>
                      <li>
                          <a class="btn" href="contactus.html">CONTACT US</a>
                      </li>
                      <li>
                          <a class="btn btn--ar" href="#">AR</a>
                      </li>
                      <li>
                          <a class="btn btn--en" href="#">EN</a>
                      </li>
                </ul>
                <!---------------------------------------------------->
                <ul class="links_ul">
                  <li>
                    <a href="about.html">ABOUT US</a>
                    <ul class="about-dropdown">
                      <li><a href="about.html#who-we-are">WHO WE ARE</a></li>
                      <li><a href="about.html#WHYSAUDIBELL">WHY SAUDI BELL?</a></li>
                      <li><a href="about.html#founders">FOUNDERS' MESSAGE</a></li>
                      <li><a href="about.html#success-story">SUCCESS STORIES</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">SERVICES & SOLUTIONS</a>
                    <ul class="service-dropdown">
                      <li><a href="informationtecnology.html">INFORMATION TECHNOLOGY</a></li>
                      <li><a href="telecomunication.html">TELECOMMUNICATIONS</a></li>
                      <li><a href="physicaltecnology.html">PHYSICAL SECURITY</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="marketsandclients.html"> MARKETS & CLIENTS</a>
                    <ul class="market-dropdown">
                      <li><a href="marketsandclients.html#milirtyanddefence">MILITARY & DEFENCE</a></li>
                      <li><a href="marketsandclients.html#government">GOVERNMENT</a></li>
                      <li><a href="marketsandclients.html#utilities">UTILITIES</a></li>
                      <li><a href="marketsandclients.html#telecommunication">TELECOMMUNICATIONS</a></li>
                      <li><a href="marketsandclients.html#banking">BANKING</a></li>
                      <li><a href="marketsandclients.html#healthcare">HEALTHCARE</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="ourparteners.html">OUR PARTERS</a>
                  </li>
                  <li>
                      <a href="mediacenter.html">MEDIA CENTER</a>
                  </li>
                </ul>
            </div>
        </div>
      </div>
    </nav>
   </div>
    <!---------------------------------------------end of nav------------------------->
    <diV class="slider physical_slider">
      <div class="owl-carousel owl-theme owl-slider">
        <div class="item">
          <div class="slider__content" style="background-image: url(../images/slider-2.jpg);">
            <div class="container">
              <div class=" col-12">
                <h1>  PHYSICSL SECURITY  </h1>
              </div>
            </div>
          </div>
        </div>
    </div>
  </diV>
  <!---------------------------------------------end of slider-------------------------->
  </header>
    <!----------------------------------end of slider------------------------------->
    
    <!---------------------------------------SOLUTIONS------------------------------>
    <div class="solution">
        <div class="container-fluid">
            <div class="row">
                <div class="solution__secure  physical__protecting">
                    <h5>PROTECTING FACILITY ASSETS FROM UNAUTHORIZED AND THREATENING ACTIVITIES.</h5>
                    <p>Our specialized consultants evaluate and detect security threats and risks against individuals
                         and properties. A customized security solution is designed and installed according to each 
                         client’s needs, providing functional layers of integrated 
                        defense systems including fencing, intrusion detection, access control, screening and inspection.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <h1>Solution</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>Application Security</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solution__circle physical__solution">
                        <h5>application SECURITY</h5>
                        <p>Ensure the security of applications through testing and adding features 
                            that protect against threats and unauthorized access.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!----------------------------------------end of SOLUTIONS----------------------->
    <!-------------------------------------------footer------------------------------------>
    <footer>
        <div class="footer__upper">
          <div class="container">
            <div class="row">
              <div class="col-md-5  col-12">
                <div class="footer__logo col-8 offset-2">
                  <a href="#">
                    <img src="../images/LOGO.png" class="w-100">
                  </a>
                </div>
                <div class="row">
                  <div class="footer__iso--img">
                    <div><img src="../images/trace.png" alt=""></div>
                    <div><img src="../images/45001.png" alt=""></div>
                    <div><img src="../images/iso-footer.png" alt=""></div>
                    <div><img src="../images/iso-footer-2.png" alt=""></div>
                    <div><img src="../images/27001.png" alt=""></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <h5>USEFUL LINKS</h5>
                    <ul>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">ABOUT US</a></li>
                      <li><a href="#">OUR PARTNERS</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <h5>SERVICES & SOLUTIONS</h5>
                    <ul>
                      <li><a href="informationtecnology.html">INFORMATION</a></li>
                      <li><a href="#"> TECHNOLOGY</a></li>
                      <li><a href="#">TELECOMUNICATIONS</a></li>
                      <li><a href="#">PHYSICAL SECURITY</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-12">
                <div class="w-100 footer__img--royaa">
                  <img src="../images/royaa-3.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__lower">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="copyright__icon-twitter"><a href="#"><i class="fab fa-twitter"></i></a></div>
                <div class="copyright__icon-linked"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
              </div>
              <div class="col-lg-6 col-12">
                <span>POWERED BY<a href="#"> 8BALL CONSULTING GROUP</a>© 2021</span>
              </div>
            </div>
          </div>
        </div>
    </footer>
    <!-------------------------------------end of footer----------------------------------->
    <script src="../scripts/MinifiedJs/scripts.min.js"></script>
    <script src="../scripts/app/about.js"></script>
  </body>
</html>
